<h1>Circuits controller, show action</h1>

 
<h3><%=h @circuit.usi %></h3>
<p><%=h @circuit.csa %></p>
<p><%=h @circuit.from_interface_type %></p>
<p><%=h @circuit.nas %></p>

 
<%#= link_to 'Back', resource(:circuits) %>
