<h3><%=h @facility.lid_fac %></h3>

 <%= part(GenericPart => :menu, :menu_items => {'Circuits' => url(:facility_circuits,@facility.lid_fac)}) %>
<p>
  <%=link_to 'Circuits', url(:facility_circuits,@facility.lid_fac) %>
</p>
 
<%= link_to 'Back', resource(:facilities) %>




<p>Edit this file in <tt>app/views/facilities/show.html.erb</tt></p>
<p>For more information and examples of CRUD views read <a href="http://wiki.merbivore.com/howto/crud_view_example_with_merb_using_erb"> this wiki page</a>
