%h2 New Site

= error_messages_for :site

= form_for(@site,:action => url(:sites) ) do
  %fieldset
    %legend Create Site
    =partial 'form'
  
    %p= submit "Create"

= link_to 'Sites', url(:sites)